<h2>Incremental Styled</h2>

<div class = "incremental">
  {{#ember-collection
    items=model.items
    cell-layout=(percentage-columns-layout model.items.length (array 100) 394) as |item|
  }}
    {{x-item-styled
      index   = item.index
      name    = item.name
    }}
  {{/ember-collection}}
</div>