<h2>Multiple components</h2>

<ul>
  {{#each model.items as |item|}}
    {{x-item-styled
      index   = item.index
      name    = item.name
      tagName = 'li'
    }}
  {{/each}}
</ul>

{{log model}}